@import ../../styles/palette

.pagination
  display: flex
  flex-direction: row
  position: fixed
  bottom: 2em
  li
    cursor: pointer
    display: block
    padding: .5em .8em
    border: 1px solid $white
    user-select: none
    &.disabled,
    &.active
      cursor: default
      color: $gray-darker
      border: 1px solid $gray-darker
