// default variables
// later to be changed using the element's style attribute
\:root
  --orbit-width: 0
  --orbit-anim: 0
  --orbital-period: 5s
  --planet-width: 10px
  --planet-margin: 10px
  --planet-color: #7db9e8
  --z-index: 0
  --rotate-from: 0deg
  --rotate-to: -360deg
  --sun-width: 40px
  --sun-width-n: -40px

.planets-2d-item
  z-index: var(--z-index)
  position: absolute
  top: 51%
  left: 49%
  transform: translateX(-50%) translateY(-50%)
  opacity: 1
  transition: opacity .5s ease-in-out
  &.sol
    top: 50%
    width: var(--sun-width)
    height: var(--sun-width)
    border-radius: 100%
    background: #fff085
    // background: radial-gradient(ellipse at center, #fefcea 0%, #fff085 100%)
    opacity: 1
    box-shadow: 0px 0px 250px 95px rgba(246, 240, 193, 0.33)
    transition: width .5s linear, height .5s linear
    &:after,
    &:before
      position: relative
      content: ' '
      display: block
      width: var(--sun-width)
      height: var(--sun-width)
      background-color: transparent
      border-radius: 100%
      transition: all .5s linear
    &:after
      position: relative
      top: var(--sun-width-n)
      box-shadow: 0px 0px 175px 70px rgba(246, 240, 193, .4)
    &:before
      position: relative
      top: 0
      box-shadow: 0px 0px 100px 100px rgba(0, 0, 0, .9)

  .title
    font-size: .8em
    opacity: .2
    z-index: 10
    transition: opacity 1s ease-out
  .orbit
    z-index: 11
    position: relative
    width: var(--orbit-width)
    height: var(--orbit-width)
    left: 0
    top: 0
    border-radius: 100%
    border: .1em solid rgba(255, 255, 255, .18)
    transition: border-color 1s ease-out, width .5s ease-in-out, height .5s ease-in-out, opacity 5s ease-in-out
  &:hover
    .orbit
      border-color: rgba(255, 255, 255, 1)
    .title
      opacity: 1
  &.can-zoom:hover
    .planet
      width: 30px
      height: 30px
      left: -10px
      top: -10px
      transition: all .2s linear


// @function function-name($width)
//   @if strip-unit($width) < 30
//     @return 30px
//   @else
//     @return $width

// @function strip-unit($number)
//   @if type-of($number) == 'number' and not unitless($number)
//     @return $number / ($number * 0 + 1)
//   @return $number

.rotate
  animation: circle var(--orbital-period) infinite linear

.planet
  display: flex
  align-items: center
  position: absolute
  left: 0
  top: 0
  width: var(--planet-width)
  height: var(--planet-width)
  margin: var(--planet-margin)
  border-radius: 100%
  background: linear-gradient(90deg, var(--planet-color) 0%, darken(#000000, 60) 67%)


.hide
  opacity: 0

.stars
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  display: block

@-webkit-keyframes circle
  from
      -webkit-transform: rotateZ(var(--rotate-from)) translateX(var(--orbit-anim))
  to
      -webkit-transform: rotateZ(var(--rotate-to)) translateX(var(--orbit-anim))

.satellite-orbit
  position: relative
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 10
  // animation: rotate 2s linear infinite

.satellite
  position: absolute
  width: 100%
  height: 100%
  z-index: 10
  animation: rotate 2s linear infinite

.moon
  background: grey
  height: 8px
  width: 8px
  margin: 0
  position: relative
  border-radius: 100%

@keyframes rotate
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(-360deg)


.actions
  position: absolute
  bottom: 2em
  right: 10em
  z-index: 10
  .btn-zoom
    width: 50px

