.planets-list-content
  .table-head > *
    display: none
  &.table-view
    .table-head
      > *
        display: inline-block
        width: 11%
        font-size: .8em
      .name
        padding-left: 25px
      .description
        width: 36%
      .distance,
      .orbital-period,
      .color,
      .diameter
        text-align: right
        width: 13%
    .planets-list
      display: table
    .planets-list-item
      display: table-row
      .description-container
        width: 38%
      .image-container
        width: 10px
        height: 10px
      .actions
        position: relative
        right: auto
        display: flex
        margin-left: 1em
    .content-container
      vertical-align: baseline
      width: 97%
      > *
        display: inline-block
        width: 14%
      .name
        width: 100px
      .description
        position: relative
        top: 20px
        font-size: 1em
        overflow: hidden
        white-space: nowrap
        max-width: 300px
        text-overflow: ellipsis
      .diameter,
      .distance,
      .orbital-period,
      .color
        text-align: right
      .field-name
        display: none

.header
  display: flex
  text-align: left
  margin-bottom: 1em
  .table-head
    width: 100%

.planets
  &-list
    &-container
      max-height: 550px
      overflow-y: auto
    display: flex
    flex-flow: row wrap
    width: auto
    left: 4em
    top: 2em
    padding-left: 0
    margin-top: 0
    &-item
      position: relative
      width: 100%
      text-align: left
      flex: 0 0 25%
      .image-container
        box-sizing: content-box
        width: 100px
        height: 100px
        margin: 0 auto
        padding: 0 1em 0 0
        vertical-align: middle
        .image
          max-width: 100%
          height: auto
      .content-container
        display: table-cell
        width: 100%
        vertical-align: top
        .field,
        .field-name
          font-size: .9em
      .actions
        display: none
        position: absolute
        // top: 0
        right: 3em
    .description
      font-size: .8em
      padding-right: 10px

::-webkit-scrollbar
  width: 6px;
  height: 6px;

::-webkit-scrollbar-track
  background: rgba(255, 255, 255, 0.1)

::-webkit-scrollbar-thumb
  background: rgba(255, 255, 255, 1)
