.menu
  display: flex
  justify-content: flex-end
  position: sticky
  top: 0
  z-index: 1000
  height: 70px
  background-color: black
  text-align: left
  .left,
  .right
    width: 100%
  .right
    display: flex
    justify-content: flex-end
  .search
    margin-right: 3em
    height: .6em
  .filters
    display: block
    span
      font-size: .8em
      margin-right: 1em

