@import ../../styles/palette

.fileContainer
  box-sizing: content-box
  background: transparent
  border-radius: 0
  border: 1px solid #fff
  height: 204px
  p
    font-size: .9em
  .btn
    background: transparent
    color: $white
    border: 1px solid #f5f5f5
    border-radius: 0
    &:hover
      background: transparent

.color-picker
  position: absolute
  top: 80px

.image-preview
  position: relative
  margin: 0
  padding: 0
  width: 320px
  height: 246px
  text-align: center
  display: table-cell
  vertical-align: middle
  img
    width: auto
    max-width: 100%
    max-height: 242px
  .btn-remove
    position: absolute
    top: 0
    right: 0

