@import palette

.btn
  width: auto
  background: transparent
  color: $white
  padding: 1em 1em 1.1em
  outline: none
  font-size: .8em
  box-shadow: none
  font-family: sans-serif
  border-width: 1px
  border-style: solid
  border-color: $white
  white-space: nowrap
  &:hover
    cursor: pointer
  &-add
    float: left
    margin-top: 2em
  &-xs
    padding: .2em
    font-size: .7em
  &.active
    color: $gray-darker
    border: 1px solid $gray-darker
  &:disabled
    cursor: default
    color: $gray-darker
    border: 1px solid $gray-darker


.btn-edit,
.btn-remove
  padding: .5em .8em
  &:hover
    cursor: pointer
.btn-edit
  right: 60px
