@import palette

input
  background: transparent
  color: #fff
  border: 1px solid transparent
  outline: none
  font-size: 1em
  padding: 0
  font-family: inherit
  box-sizing: content-box
  &:focus
    border-bottom: 1px solid #fff

.form
  width: 320px
  text-align: left
  margin-top: 1em
  label
    color: $gray
    margin-top: 2em
    width: 100%
    display: block
    text-align: left
    font-size: .86em
  &-control
    position: relative
  &-input
    min-height: 1.5em
    padding: 0
    width: 100%
    max-width: 100%
    border: none
    border-bottom: 1px solid $white
    background-color: transparent
    color: $white
    font-size: 1em
    &:focus
      outline: none
  .inline
    display: inline-block
    width: 49%
    margin-right: 3px
    &:nth-child(2n)
      margin-right: 0
      margin-left: 3px
  .actions
    display: flex
    flex-direction: row
    button
      margin-top: 4em
      clear: both
      float: left
  select
    background-color: transparent
    color: $white
    border: none
    font-size: 1em
    font-weight: bold
    &:focus
      outline: none

.search
  padding: .6em
  border: 1px solid $white

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
  color: $white !important
  -webkit-box-shadow: 0 0 0 30px black inset
  -webkit-text-fill-color: $white !important
