.loader
  position: absolute
  top: 47%
  left: 47%
  background-color: #000
  transition: all .5s ease-out
  opacity: 1

.ripple
  display: inline-block
  position: relative
  width: 64px
  height: 64px

.ripple div
  position: absolute
  border: 4px solid #fff
  opacity: 1
  border-radius: 50%
  animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite

.ripple div:nth-child(2)
  animation-delay: -0.5s

@keyframes ripple
  0%
    top: 28px
    left: 28px
    width: 0
    height: 0
    opacity: 1

  100%
    top: -1px
    left: -1px
    width: 58px
    height: 58px
    opacity: 0


