@import palette
@import buttons
@import forms
@import loader

@import url('https://fonts.googleapis.com/css?family=Roboto:300')

body,
html
  overflow: hidden
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  color: $white
  text-align: center
  font-family: 'Roboto', sans-serif
  font-size: 16px
  background: #000 url(../assets/stars.jpg) repeat top center !important

ul,
ol
  list-style: none
  margin: 0
  padding: 0

.pull-right
  float: right
  clear: both
  position: absolute
  right: 20px
  top: -15px

*
  box-sizing: border-box

#root
  width: 100%
  height: 100%
