.container
  width: 100%
  height: 100%
  margin: 0
  display: inline-flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: flex-start
  > .left
    position: sticky
    z-index: 2
    width: 320px
    top: 0
    margin-right: 2em
  > .right
    position: relative
    z-index: 1
    width: 100%
    height: 100%
    padding-left: 0
    padding-top: 0
  &.dashboard
    padding: 2em
    background: black

.footer
  position: fixed
  z-index: 3
  bottom: 0
  right: 0
  padding: 2em
